body {
    font-family: 'Arial', sans-serif;
    margin: 20px; /* Added margin to the body */
    margin-bottom: 0px;
    padding: 0;
    background-color: #fff; /* Light gray background color */
}

header {
    background-color: #fff; /* Set background color for the header */
    font-size: 20px;
    color: #333; /* Set text color for the header */
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 5px solid #f5f5f5; /* Added horizontal line between header and navigation */
}

nav {
    background-color: #fff; /* Set background color for the navigation */
    margin-bottom: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px; /* Fixed missing units */
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #333; /* Set text color for the navigation buttons */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #fff; /* Set background color for the navigation buttons */
}

nav a:hover {
    background-color: #ddd;
    color: #333; /* Set text color for the navigation buttons on hover */
}

section {
    padding: 40px;
    padding-top: 10px;
    background-color: #fff; /* Set background color for sections */
    margin-bottom: 0; /* Removed bottom margin from sections */
}

.project {
    padding: 20px;
    background-color: #fff; /* Set background color for divs */
}

.project-image {
    max-width: 50%; /* Set the maximum width to 50% of the window */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Center the image */
    margin: 0; /* align left */
}

.media-container {
    max-width: 50%; /* Set the maximum width to 50% of the window */
    margin: 0 ; /* align left */
}

.project-media {
    width: 100%; /* Make the video fill the container width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Center the media */
    margin: 0; /* align left */
}


/* Added CSS for the skill container */
.skill-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Added margin for spacing */
}

/* Adjusted CSS for progress bars */
.progress-bar-frame {
    height: 20px;
    line-height: 20px; /* Removed this line */
    width: 50%;
    background-color: lightgray;
    border-radius: 5px;
    margin-top: 15px; /* Added margin for spacing between skill and progress bar */
    margin-bottom: 15px; /* Added margin for spacing between skill and progress bar */
}

.progress-bar-inner {
    height: 100%; /* Changed from fixed height to 100% */
    background-color: gray;
    color: white;
    border-radius: 5px;
}